**/.env
**/postgres/
**/data/
**/media/
**/conf/
**/work/
**/certs/
**/templates/
**/redis/
**/cache/
**/model-cache/
**/upload/
**/external/
**/config/
**/grafana/data/
**/export/
**/consume/
**/prometheus/data/
