# UID/GID for the jellyfin process
# After changing, run: sudo chown -R <PUID>:<PGID> config/ cache/
PUID=1000
PGID=1000
JELLYFIN_PORT=8096
# Path to media library on host (e.g. /volume1/media)
JELLYFIN_MEDIA_PATH=./media
