ACTIVEPIECES_PORT=8080
AP_FRONTEND_URL=http://localhost:8080

# Generate with: openssl rand -base64 32
POSTGRES_PASSWORD=changeme
# Generate with: openssl rand -hex 16
AP_ENCRYPTION_KEY=changeme
# Generate with: openssl rand -hex 32
AP_JWT_SECRET=changeme
